<form (ngSubmit)="submit()">
    <header>
        <div class="left"></div>
        <div class="center">
            <span class="title">{{"Verify Identity"}}</span>
        </div>
        <div class="right">
            
        </div>
    </header>
    <content>
        <div class="box">
            <div class="box-content">
                <div class="box-content-row box-content-row-flex" appBoxRow>
                    <div class="row-main">
                        <div class="left"></div>
                        <div class="center">
                            <p>Please reauthenticate with Vivokey to unlock.</p>
                            <button type="button" (click)="vkredir()" appBlurClick>{{"Log in with Vivokey"}}</button>
                        </div>
                        <div class="right"></div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <p>{{(pinLock ? 'yourVaultIsLockedPinCode' : 'yourVaultIsLocked') | i18n}}</p>
                {{'loggedInAsOn' | i18n : email : webVaultHostname}}
            </div>
        </div>
        <p class="text-center">
            <a href="#" appStopClick (click)="logOut()">{{'logOut' | i18n}}</a>
        </p>
    </content>
</form>
