<form #form (ngSubmit)="submit()" [appApiAction]="formPromise">
    <header>
        <div class="left">
            <a routerLink="/home">{{'cancel' | i18n}}</a>
        </div>
        <div class="center">
            <span class="title">{{'appName' | i18n}}</span>
        </div>
    </header>
    <content>
        <div class="box">
            <div class="box-content">
                <div class="box-content-row" appBoxRow>
                    <p>Loading Vivokey OIDC...</p>
                </div>
            </div>
        </div>
        
    </content>
</form>
