<form #form (ngSubmit)="submit()" [appApiAction]="formPromise">
    <header>
        <div class="left">
            <a routerLink="/home">{{'cancel' | i18n}}</a>
        </div>
        <div class="center">
            <span class="title">{{'createAccount' | i18n}}</span>
        </div>
        <div class="right">
            
        </div>
    </header>
    <content>
        <div class="box last">
            <div class="box-content">
                <div class="box-content-row box-content-row-flex" appBoxRow>
                    <div class="row-main">
                        <p>Loading data from OIDC...</p>
                    </div>
                </div>
            </div>

        </div>
    </content>
</form>
